body {
  font-family: 'Ibarra Real Nova', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

section {
  display: flex;
}

.half-width {
  width: 50%;
}

.half-width img {
  width: 60%;
}