body {
  font-family: 'Ibarra Real Nova', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

section {
  display: flex;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

.half-width img {
  width: 60%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(red, orange);
  padding: 20px, 40px;
  color: black;
  font-weight: bold;
  border-radius: 5px;




}