body {
  font-family: 'Ibarra Real Nova', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  margin: 0%;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 100px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

.half-width img {
  width: 60%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(red, orange);
  padding: 20px, 40px;
  color: black;
  font-weight: bold;
  border-radius: 5px;

}

.top-banner {
  background-image: url(top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.bottom-part {
  background-image: url(exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.bottom-box {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20PX;
  border-radius: 10px;
  box-shadow: 10px 10px 30px grey;

}

#box-1 {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

#box-2 {
  border-left: 7px solid;
  border-image: linear-gradient(orange, yellow);
  border-image-slice: 1;
}

footer p {
  text-align: center;

}